.css-umzx0k-MuiClock-pin {
  background-color: #7eacb5 !important;
}

.css-pncb2q-MuiClockPointer-root {
  background-color: #7eacb5 !important;
}

.css-1h2qg9i-MuiClockPointer-root {
  background-color: #7eacb5 !important;
}

.css-f53ilk-MuiClockPointer-thumb {
  background-color: #7eacb5 !important;
  border: 16px solid #7eacb5 !important;
}

.css-1fiopb0-MuiClockPointer-thumb {
  background-color: #7eacb5 !important;
  border: 16px solid #7eacb5 !important;
}

.css-1588512-MuiButtonBase-root-MuiButton-root {
  color: #7eacb5 !important;
}